{% load widget_tweaks %}
<div class="form-group"> 
    <h3>Formulario</h3><br> 
</div>
<form method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}   
        {% render_field form.ns_min class="form-control" type="text" placeholder="ns_min..." %}
        <br> 
        {% render_field form.pdf class="form-control" type="file" %}
        <br><br> 
        <button type="submit" class="btn btn-outline-primary mr-2 shadow-lg" name="btn_adicionar">Salvar</button>
        <a class="btn btn-outline-dark px-4 shadow-lg noprint" role="button" href="{% url 'equipamentos' %}">Cancelar</a>  
        {% if object.pk %}
        <a class="btn btn-outline-danger shadow-lg mr-2" href="{% url 'manual-delete' object.pk %}">Deletar</a>
        {% endif %} 
</form> 