{% extends 'base/_dashboard_base.html' %}
{% block title %}Deletar Equipamento{% endblock %} 
{% block main_content %}
    <div class="container">
        <h2>Esse Equipamento: {{ object.nome_equipamento }}</h2> 
        Todos os dados desse equipamento será deletado da base de dados.
        </p>
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Sim</button>
                <div class="btn btn-primary" onclick="history.back();">Cancelar</div>
            </div>
        </form>
    </div>
{% endblock %}