<h1>ListView Carros</h1><br>
<td class="text-center">
    <a class="btn btn-outline-dark mr-2" href="{% url 'equipoamento-novo' %}">Novo Carro</a>
</td><br><br>
<hr><br>
<table class="text-center table table-bordered rounded mt-3">
    <thead class="thead-dark">
        <tr class="table-borderless">
            <th scope="col">#</th>
            <th scope="col">Nome Carro</th>
            <th scope="col">Nome Display modelo</th>
            <th scope="col">ID_SECTRA_CARRO</th>
            <th scope="col">Manuais do Carro</th>
            <th scope="col">Alterar</th>
        </tr>
    </thead>
    {% for objects in object_list %}
    <tbody>
        <tr>
            <th scope="row">{{ objects.id }}</td>
            <th scope="row">{{ objects.nome_equipamento }}</td>
            <th scope="row">{{ objects.nome_display }}</td>
            <th scope="row">{{ objects.idsectra }}</td>
            <th><a class="btn" href="{% url 'manuais' objects.pk %}"><i class="fa fas fa-eye fa-1x" style="color:#c2b200;" aria-hidden="true"></i></a></td>
            <th><a class="btn" href="{% url 'equipamento-alterar' objects.pk %}"><i class="fas fa-file-invoice fa-1x" style="color:#0013c2;" aria-hidden="true"></i></a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
